<h1>Edit Products </h1>

<%= simple_form_for [:admin, @product] do |f| %>
<div class="group">
	<%= f.input :title %>
</div>
<div class="group">
	<%= f.input :description %>
</div>
<div class="group">
	<%= f.input :quantity %>
</div>
<div class="group">
	<%= f.input :price %>
</div>
<div>
<% if @product.image.present? %>
	<span>Current Picture</span> <br>
	<%= image_tag(@product.image.thumb.url) %>
<% end -%>
	<%= f.input :image, as: :file %>
</div>
<div class="group">
	<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Choose Category") %>
</div><br>
<div class="group">
	<%= f.button :submit %>
</div>

<% end -%>