<div class="row jumbotron">

   <h1>Fitbit Blaze</h1>
		<h3>SMART FITNESS WATCH</h3>
		<p>Train smarter and go farther with performance features <br> like built-in GPS, continuous heart rate, music control and a touchscreen display.</p>
</div>

<div class="guarantee">
	<i class="fa fa-check-circle fa-w" aria-hidden="true"></i> <span>Free shipping on $50+</span>  |  
	<i class="fa fa-check-circle fa-w" aria-hidden="true"></i> <span>45-day money back guarantee</span>  |  
	<i class="fa fa-check-circle fa-w" aria-hidden="true"></i> <span>1 year limited warranty</p></span>
</div>
<hr>

<div class="container">
<div class="row product-list image">
	<% @products.each do |product| %>

		<div class="col-xs-6 col-md-3 ">
			<%= link_to product_path(product) do %>
				<% if product.image.present? %>
					<%= image_tag(product.image.thumb.url, class: "thumbnail") %>
				<% else %>
					<%= image_tag("http://placehold.it/200x200&text= No Pic", class: "thumbnail") %>
				<% end %>	
			<% end -%>	
			<div>
			<h2><%= product.title %></h2> 
				<p class="price">Price: ￥<%= product.price %></p>
			 	<span><%= link_to("Add To Cart", add_to_cart_product_path(product), :method => :post, :class => "btn btn-primary btn-sm btn-danger") %></span>
		</div>
		</div>
	<% end -%>
</div>
</div>